plex-server: http://{plexserver}}:32400
plex-token: replace with token https://support.plex.tv/articles/204059436-finding-an-authentication-token-x-plex-token/
path-converters:
  - download-path: \\10.0.1.1\
    plex-path: /mnt/nas/
  - download-path: C:\Videos\
    plex-path: /mnt/media/Videos
  - download-path: /mnt/downloads/TV
    plex-path: /mnt/media/TV

